<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite><rules>
      <rule name="RequireHTTPS" stopProcessing="true">
        <match url="(.*)"/>
        <conditions><add input="{HTTPS}" pattern="off"/></conditions>
        <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent"/>
      </rule>
      <rule name="ReverseProxy" stopProcessing="true">
        <match url="(.*)"/>
        <action type="Rewrite" url="http://127.0.0.1:8000/{R:1}"/>
      </rule>
    </rules></rewrite>
    <security>
      <requestFiltering removeServerHeader="true"><requestLimits maxAllowedContentLength="1048576"/></requestFiltering>
    </security>
  </system.webServer>
</configuration>
